<form action="/new" method="post" id='new-meet'>

  <label for="name">Name</label>
  <br>
  <input type="text" id="name" name="name">
  <br>
  <label for="description">Description</label>
  <br>
  <input type="text" id="description" name="description" size='70'>
  <br>
  <label for="location">Location</label>
  <br>
  <input type="text" id="location" name="location">
  <br>
  <label for="date">Date</label>
  <br>
  <input type="date" id="date" name="date">
  <br>
  <label for="time">Time</label>
  <br>
  <input type="time" id="time" name="time">
  <br>
  <label for="picture">Image URL</label>
  <br>
  <input type="URL" id="picture" name="picture">
  <br>

  <input type="submit" value="Submit">

</form>
